<div id="user_nav">
  <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% User.all.each do |u| %>
        <ul>
        <li>
          <%= u.email %>
          <%= link_to "Edit", edit_user_path(u) %> 
          <%= link_to "Delete", user_path(u), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% if u.banned? %>
            <%= link_to "Unban", unban_user_path(u) %>
          <% else %>  
            <%= link_to "Ban", ban_user_path(u) %>
          <% end %>  
        </li>
      </ul>
    <% end %>
    
  <% else %>
    <h1>Welcome to AUTH APP</h1>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
    <p><%= link_to image_tag("facebook.png", size: "25x25"), user_omniauth_authorize_path(:facebook) %>
    <%= link_to image_tag("twitter.png", size: "25x25"), user_omniauth_authorize_path(:twitter) %>
    <%= link_to image_tag("vk.png", size: "25x25"), user_omniauth_authorize_path(:vkontakte) %>
    <%= link_to image_tag("github.png", size: "25x25"), user_omniauth_authorize_path(:github) %></p>
  <% end %>

</div>

